In [1]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv("../Dataset/New_Penghasilan.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Penghasilan  1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [5]:
print(dataset)

     Penghasilan
0        2304326
1        4249448
2        3135167
3        3697159
4        3095349
..           ...
995      4964707
996      4964320
997      2821341
998      4833859
999      2753402

[1000 rows x 1 columns]

In [6]:
dataset["Zakat"] = dataset["Penghasilan"] * 0.025

In [7]:
print(dataset)

     Penghasilan       Zakat
0        2304326   57608.150
1        4249448  106236.200
2        3135167   78379.175
3        3697159   92428.975
4        3095349   77383.725
..           ...         ...
995      4964707  124117.675
996      4964320  124108.000
997      2821341   70533.525
998      4833859  120846.475
999      2753402   68835.050

[1000 rows x 2 columns]